/* SHARED CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  color: #1e4040;
}

a {
  color: #71d99e;
}

header,
footer {
  background-color: #1e4040;
  color: #71d99e;
}

/* CSS OUTER GRID STYLES*/

.outer-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 90px 1fr;
  grid-template-areas:
    "alias-header alias-header"
    "alias-innergrid alias-innergrid";
}
.outer-grid-expanded {
  grid-template-areas:
    "alias-header alias-header"
    "alias-nav alias-innergrid";
}
.hide-nav {
  display: none;
}
header {
  grid-area: alias-header;
}

nav {
  grid-area: alias-nav;
}

/* CSS INNER GRID STYLES*/
.inner-grid {
  overflow-y: scroll;
  display: grid;
  grid-area: alias-innergrid;
  background-color: rgba(0, 31, 255, 0.2);
  grid-template-rows: 1fr auto 60px; /*Footer to 60px and the rest will take the remaining space */
  grid-template-columns: 1fr;
  grid-template-areas:
    "alias-main alias-main"
    "alias-aside alias-aside"
    "alias-footer alias-footer";
}
main {
  grid-area: alias-main;
  background-color: rgba(255, 122, 0);
  height: 2000px;
}

aside {
  grid-area: alias-aside;
  background-color: rgba(255, 122, 0, 0.4);
  /* height: 100px; */
}

footer {
  grid-area: alias-footer;
  background-color: rgba(255, 122, 0, 0.7);
}

/* ====HEADER STYLES==== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left-header {
  display: flex;
  align-items: center;
}

.fa-bars {
  margin-right: 10px;
}

.fa-bars:hover {
  cursor: pointer;
  opacity: 0.8;
}

.right-header {
  display: flex;
}

.header-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.header-link i {
  font-size: 0.8rem;
}

/* ====NAV STYLES==== */
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link a {
  color: #1e4040;
  text-decoration: none; /* takes the line of the link off */
}

.nav-link:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #1e4040;
}

/* BREAKPOINTS */
/* Whenever the screen is larger than 576, lock the nav to disappear */
@media (min-width: 576px) {
  nav {
    display: block !important;
  }
  .outer-grid {
    grid-template-areas:
      "alias-header alias-header"
      "alias-nav alias-innergrid";
  }
  .fa-bars {
    display: none;
  }
}
@media (min-width: 992px) {
  /*Applies on anything greater than 992, so this will be the layout*/
  .inner-grid {
    grid-template-rows: 1fr 60px;
    grid-template-columns: minmax(auto, 700px) 1fr; /* give minimum witdh and maximum width, forst 1st and 2nd column */
    grid-template-areas:
      "alias-main alias-aside"
      "alias-footer alias-footer";
  }
}
/* Anything greater than 1440, do as follows */
@media (min-width: 1440px) {
  .outer-grid {
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas:
      "alias-header alias-header alias-header"
      "alias-nav alias-innergrid";
  }

  header {
    display: grid;
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas: "alias-lh . alias-rh";
  }

  .left-header {
    grid-area: alias-lh;
    justify-self: end;
  }

  .right-header {
    grid-area: alias-rh;
    justify-self: start;
  }
}
